# Servidor
NODE_ENV=development
PORT=4000

# Base de datos
DATABASE_URL="postgresql://user:password@localhost:5432/shopflow?schema=public"

# JWT
JWT_ACCESS_SECRET=un-secreto-de-minimo-32-caracteres-aqui
JWT_REFRESH_SECRET=otro-secreto-de-minimo-32-caracteres-aca
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173
